@model IEnumerable<RPB.Website.BL.PersonalProject>

@{
    ViewBag.Title = "Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Projects</h2>

@if (Session["user"] != null)
{
    <p>
        @Html.ActionLink("New", "Create")
    </p>
}

@foreach (var item in Model)
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                <p><strong>@Html.DisplayFor(modelItem => item.Name)</strong></p>
                <p>@Html.DisplayFor(modelItem => item.Description)</p>
                <p><a href="@item.GitHubRepository" target="_blank">Repository</a></p>
            </div>
            <div class="col-md-5 embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" height="385" src="@item.Demonstration" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>

            @if (Session["user"] != null)
            {
                <div class="col-md-1">
                    <p>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </p>
                </div>
            }
        </div>
        <br />
    </div>
}
